version: '3'

networks:
  recruit:
services:
  php74:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    ports:
      - "9999:9000"
    volumes:
      - ./:/var/www/html
      - type: bind
        source: ./
        target: /workspace
    networks:
      - recruit
    links:
      - mysqldb

  redis:
    image: redis:alpin
    container_name: redis.recruit
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - recruit
    volumes:
      - "./dockerfiles/redis.conf:/path/to/redis.conf"
  mysqldb:
    image: mysql:5.7
    container_name: mysql57.local
    restart: always
    environment:
      - MYSQL_DATABASE=recruit
      - MYSQL_ROOT_PASSWORD=1234567@1dmaxaxa
      - MYSQL_USER=button
      - MYSQL_PASSWORD=hellobutton
    ports:
      - "13306:3306"
    volumes:
      - "./data/db/mysql:/var/lib/mysql"
    networks:
      - recruit

#  composer:
#    build:
#      context: ./dockerfiles
#      dockerfile: php.dockerfile
#      args:
#        - UID=${UID:-1000}
#        - GID=${GID:-1000}
#    volumes:
#      - ./src:/var/www/html
#    depends_on:
#      - php
#    entrypoint: [ 'composer', '--ignore-platform-reqs' ]
#    networks:
#      - laravel
